h2{
    color: #6b7cf995;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    border: 1px solid #cccccc;
}

table th, table td {
    border: 1px solid #6b7cf995;
    padding: 12px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #6b7cf995;
}
